<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <style>
    body {
      text-align: center;
      margin: 2rem;
    }
  
    table {
      margin: 2rem auto;
      border: black 1px solid;
    }

    tr, thead, tbody, td {
      border: black 1px solid;
      padding: 3px;
    }

    button {
      color: red;
      text-decoration: none;
    }

    a button {
      color: blue;
      text-decoration: none;
    }
  </style>
  <title>Wish List</title>
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>